.timeline-container {
  background-color: var(--accent2);
}
.timeline-content {
  margin: 0 2rem;
}

@media screen and (max-width: 500px) {
  .timeline-content {
    margin: 0 1rem;
  }
}

@media only screen and (min-width: var(--variableAmt)) {
  .timeline-content {
    max-width: var(--variableAmt);
    margin-left: auto;
    margin-right: auto;
  }
}
